{% extends "frames/default.html.twig" %}
{% block title %}
register
{% endblock %}
{% block content %}
<h1>Register</h1>
<form method="post">
	<div class="form-group">
		<label for="email">Email address</label> <input type="email"
			class="form-control" id="email" aria-describedby="emailHelp"
			name="email" placeholder="Enter email">
	</div>
	<div class="form-group">
		<label for="name">Username</label> <input type="email"
			class="form-control" id="name" aria-describedby="emailHelp"
			name="name" placeholder="Enter Username">
	</div>
	<div class="form-group">
		<label for="password">Password</label> <input type="password"
			class="form-control" id="password" name="password"
			placeholder="Password">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
