{% extends "law/law.html.twig" %}
{% block content %}
<h1>
	{% trans %}
	Law
	{% endtrans %}
	#
	{{ law.id }}
</h1>
{% trans %}
Responsible for:
{% endtrans %}
<a href="{{ path('app_node_show',{'id':law.node.id})}}"> {% trans with {'%law.node.id%':law.node.id}%}
	node #%law.node.id% {% endtrans %}
</a>
.
{% endblock %}
