{% extends "base.html.twig" %}
{% block body %}
{% include 'frames/structure/navbar/navbar_top.html.twig'%}
<br />
<div class="container">
	{% include 'frames/structure/message/flash_messages.html.twig'%}
	{% block content %}
	{% endblock %}
</div>
{% endblock %}
