{# @todo Check out how to use this in the future. If not used, remove! #}
{% extends "frames/default.html.twig" %}
{% set menu_items = [] %}
{% block content %}
<h1>Error!</h1>
<p>{{ message }}</p>
{% endblock %}