{% extends "source/view/source.html.twig" %}
{% block content %}
<h1>{% trans %} Name {% endtrans %}</h1>
{% include "source/view/content/name." ~ app.request.requestFormat ~ ".twig" %}
{% endblock %}
