{% extends "frames/default.html.twig" %}
{% block title %}
{% trans %}
Source
{% endtrans %}
{% endblock %}
{% block content %}
<h1>
	Source: {% if entity.hasSlug %}{{ entity.slug }}{% endif %}#{{ entity.id }}
</h1>
<div id="accordion">
	<div class="card">
		<div class="card-header" id="headingExecute">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse"
					data-target="#collapseExecute" aria-expanded="false"
					aria-controls="collapseExecute">
					<i class="fas fa-microchip"></i> Execute
				</button>
			</h5>
		</div>
		<div id="collapseExecute" class="collapse"
			aria-labelledby="headingExecute" data-parent="#accordion">
			<div class="card-body">Anim pariatur cliche reprehenderit, enim
				eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
				officia aute, non cupidatat skateboard dolor brunch. Food truck
				quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
				aliqua put a bird on it squid single-origin coffee nulla assumenda
				shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
				anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
				butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
				denim aesthetic synth nesciunt you probably haven't heard of them
				accusamus labore sustainable VHS.</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headingOne">
			<h5 class="mb-0">
				<button class="btn btn-link" data-toggle="collapse"
					data-target="#collapseOne" aria-expanded="true"
					aria-controls="collapseOne">
					<i class="fas fa-glasses"></i> Read
				</button>
			</h5>
		</div>
		<div id="collapseOne" class="collapse show"
			aria-labelledby="headingOne" data-parent="#accordion">
			<div class="card-body">
				{{ entity.text }}
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headingTwo">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse"
					data-target="#collapseTwo" aria-expanded="false"
					aria-controls="collapseTwo">
					<i class="fas fa-pencil-alt"></i> Update
				</button>
			</h5>
		</div>
		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
			data-parent="#accordion">
			<div class="card-body">Anim pariatur cliche reprehenderit, enim
				eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
				officia aute, non cupidatat skateboard dolor brunch. Food truck
				quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
				aliqua put a bird on it squid single-origin coffee nulla assumenda
				shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
				anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
				butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
				denim aesthetic synth nesciunt you probably haven't heard of them
				accusamus labore sustainable VHS.</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headingDelete">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse"
					data-target="#collapseDelete" aria-expanded="false"
					aria-controls="collapseDelete">
					<i class="fas fa-trash-alt"></i> Delete
				</button>
			</h5>
		</div>
		<div id="collapseDelete" class="collapse"
			aria-labelledby="headingDelete" data-parent="#accordion">
			<div class="card-body">Anim pariatur cliche reprehenderit, enim
				eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
				officia aute, non cupidatat skateboard dolor brunch. Food truck
				quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
				aliqua put a bird on it squid single-origin coffee nulla assumenda
				shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
				anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
				butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
				denim aesthetic synth nesciunt you probably haven't heard of them
				accusamus labore sustainable VHS.</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headingThree">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse"
					data-target="#collapseThree" aria-expanded="false"
					aria-controls="collapseThree">
					<i class="fas fa-wrench"></i> Manage
				</button>
			</h5>
		</div>
		<div id="collapseThree" class="collapse"
			aria-labelledby="headingThree" data-parent="#accordion">
			<div class="card-body">Anim pariatur cliche reprehenderit, enim
				eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
				officia aute, non cupidatat skateboard dolor brunch. Food truck
				quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
				aliqua put a bird on it squid single-origin coffee nulla assumenda
				shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
				anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
				butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
				denim aesthetic synth nesciunt you probably haven't heard of them
				accusamus labore sustainable VHS.</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headingHistory">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse"
					data-target="#collapseHistory" aria-expanded="false"
					aria-controls="collapseHistory">
					<i class="fas fa-history"></i> History
				</button>
			</h5>
		</div>
		<div id="collapseHistory" class="collapse"
			aria-labelledby="headingHistory" data-parent="#accordion">
			<div class="card-body">Anim pariatur cliche reprehenderit, enim
				eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
				officia aute, non cupidatat skateboard dolor brunch. Food truck
				quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
				aliqua put a bird on it squid single-origin coffee nulla assumenda
				shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
				anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
				butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
				denim aesthetic synth nesciunt you probably haven't heard of them
				accusamus labore sustainable VHS.</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headingRelation">
			<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse"
					data-target="#collapseHistory" aria-expanded="false"
					aria-controls="collapseRelation">
					<i class="fas fa-map-marked-alt"></i> Map
				</button>
			</h5>
		</div>
		<div id="collapseRelation" class="collapse"
			aria-labelledby="headingRelation" data-parent="#accordion">
			<div class="card-body">Anim pariatur cliche reprehenderit, enim
				eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
				officia aute, non cupidatat skateboard dolor brunch. Food truck
				quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
				aliqua put a bird on it squid single-origin coffee nulla assumenda
				shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
				anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
				butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
				denim aesthetic synth nesciunt you probably haven't heard of them
				accusamus labore sustainable VHS.</div>
		</div>
	</div>
</div>
{% endblock %}